* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #eee;
}

img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    top: 0;
    z-index: 10;
}

button {
    outline: none;
    border: 4px solid green;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    transition: all 0.2s ease-in-out;
}

button:hover {
    cursor: pointer;
    background: green;
    color: white;
}

.play-area {
    display: grid;
    /*width: 300px;*/
    width: 90vmin;
    /*height: 300px;*/
    height: 90vmin;
    grid-template-columns: auto auto auto;
}

.block {
    display: flex;
    /*width: 100px;*/
    /*height: 100px;*/
    width: 30vmin;
    height: 30vmin;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    border: 3px solid black;
    transition: background 0.2s ease-in-out;
}

.block:hover {
    cursor: pointer;
    background: #0ff30f;
}

#timer {
    position: absolute;
    /* float: right;
    padding: 15px; */
    top: 5px;
    right: 10px;
}

#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;

    outline: none;
    border: 4px solid red;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 3rem;
        margin-bottom: 0.5em;
    }

    h2 {
        margin-top: 1em;
        font-size: 1.3rem;
    }
}
